<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.Artist.Name}} - Details</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <section class="ditailPage">

    <div class="picartist">
        <h1>{{.Artist.Name}}</h1>
        <img src="{{.Artist.Image}}" alt="Pic of {{.Artist.Name}}">
    </div>

    <div class="ditailartist">
    <h2>Band Information</h2>
    <p>Members: {{range .Artist.Members}}{{.}}, {{end}}</p>
    <p>Creation Date: {{.Artist.CreationDate}}</p>
    <p>First Album: {{.Artist.FirstAlbum}}</p>

    <h2>Concert Dates and Locations</h2>
    {{range $location, $dates := .Relations.DatesLocations}}
        <h3>{{$location}}</h3>
        <ul>
        {{range $dates}}
            <li>{{.}}</li>
        {{end}}
        </ul>
    {{end}}
</div>
    <a href="/">Back to all artists</a>
</section>
</body>
</html>